.card {
  max-width: 600px;
  flex-basis: 480px;
}

.card:last-of-type {
  margin-bottom: 100px;
}

.card__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 32px;
}

.card__list-item {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card__list-item:last-of-type {
  margin-bottom: 0;
}

.card__list-divider {
  display: flex;
  border-bottom: solid white;
  flex-grow: 1;
}
