.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.form__fieldset {
  padding: 0px;
  overflow: hidden;
  border: none;
  margin: 0;
  min-width: 100%;
}

.form__fieldset_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
  vertical-align: center;
  margin-bottom: 120px;
}

.form__label {
  font-weight: 500;
  margin-bottom: 8px;
  display: block;
}

.form__label_type_checkbox {
  margin-bottom: 0px;
}

.form__input {
  height: 60px;
  margin-bottom: 32px;
  min-width: 100%;
  padding: 0 20px 0 20px;
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
}

.form__input_date {
  color: #838383;
  font-family: "inter", arial, sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__input::placeholder {
  color: #838383;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  height: 60px;
  width: 100%;
  margin-bottom: 32px;
  border: none;
  font-weight: 500;
  color: white;
  background-color: #2f80ed;
  padding: 0;
  border-radius: 4px;
  transition: opacity 0.5s linear;
  cursor: pointer;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  margin: 0;
  vertical-align: middle;
  display: inline;
  height: 20px;
  width: 20px;
  font-weight: 500;
  border-radius: 2px;
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
  cursor: pointer;
}
